# Build and Release Folders
node_modules
package-lock.json
yarn.lock

# ETC.
.vscode

# from Node packages
.nyc_output

# upload directory
upload

# jsdoc default output
out
jsdoc-out

# jest coverage
/__tests__/jest/coverage

.idea
