@charset "utf-8";

h1 { 
  font-size: 2.3rem;
  border-bottom: 3px solid black;
}
h2 { 
  font-size: 1.8rem;
  border-bottom: 1px solid #e6e6e6;
}
h3 { 
  font-size: 1.4rem
}
h4, h5, h6, p { 
  font-size: 1rem
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* margin-top: 20px;
  text-align: center;
  background: #ffffff;
  color: #000000; */
}
code { 
  font-family: Consolas,Monaco,"Lucida Console",monospace;
}
pre { 
  font-family: Consolas,Monaco,"Lucida Console",monospace;
}
a.back-button {
  /* Font & Text */
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none solid rgb(255, 255, 255);
}
