@charset "utf-8";

input, select, textarea {
    margin: 1px 1px 1px 1px;
}

button {
    margin: 1px 1px 1px 1px;
}

/*
// prism.js로 대체함
code { 
  padding: 4px; white-space: nowrap; background-color: #EFEFEF;
}
pre { 
  padding: 20px 10px 20px 10px; background-color: #EFEFEF;
}
*/
.align-center {
    max-width: 80%;
    text-align: left;
    margin: 30px auto;
}

hr.light {
    margin: 15px 0;
    border: none;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}

.margin-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
}

.code-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #c3d4d5;
    border: rgba(0, 0, 0, 0.082) 1px solid;
    border-radius: 3px;
    display: block;
    min-height: 20px;
    padding: 8px 12px;
    text-decoration: none;
}

.code-result {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eaf2f3;
    border: rgba(0, 0, 0, 0.082) 1px solid;
    border-radius: 3px;
    display: block;
    min-height: 20px;
    padding: 8px 12px;
    text-decoration: none;
}

.important {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e5f3fe;
    border: rgba(0, 0, 0, 0.082) 1px solid;
    border-radius: 3px;
    display: block;
    min-height: 20px;
    padding: 8px 12px;
    text-decoration: none;
}

.button-wrapper {
    text-align: left;
    margin: 60px 1px 1px 1px;
}

a.back-button {
    background: #2F3545;
    color: rgb(255, 255, 255);
    border: 1px solid grey;
    padding: 6px 10px;
}

.buttons {
    display: inline-block;
    min-width: 100px;
    height: 36px;
    line-height: 34px;
    padding: 0 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    color: #000;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}

.buttons:disabled {
    background-color: #eaeef0;
}

.buttons.effect-push {
    box-shadow: 1px 1px #999;
}

.buttons.effect-push:active {
    box-shadow: 0 0 #666;
    transform: translateX(1px) translateY(1px);
}

.buttons.green {
    border-color: #4ab74d;
    background-color: #4ab74d;
    color: #fff;
}

.buttons.blue {
    border-color: #2771c6;
    background-color: #2771c6;
    color: #fff;
}

.buttons.lightgray {
    border-color: #c6c6c6;
    background-color: #efefef;
    color: #000000;
}

.buttons.size-large {
    min-width: 130px;
    height: 40px;
    line-height: 38px;
    padding: 0 20px;
}

.buttons.size-large.mw100 {
    min-width: 100px;
}

.buttons.size-small {
    min-width: 80px;
    height: 34px;
    line-height: 32px;
    border-radius: 2px;
}

.buttons.size-mini {
    min-width: 66px;
    height: 30px;
    line-height: 28px;
    border-radius: 2px;
    font-size: 13px;
}

.buttons.size-lesser {
    min-width: 30px;
    height: 20px;
    line-height: 15px;
    border-radius: 2px;
    font-size: 11px;
}

#toc h4, .ref-links h4 {
    margin-bottom: 0;
}

#toc ul, .ref-links ul {
    margin-top: 10px;
}

.mrgn-btm {
    margin-bottom: 30px;
}
